.mtg_deck_embedded td {
  border: none !important;
}

.mtg_deck_embedded tr {
  background: white !important;
}

.mtg_deck_title {
  font-weight: bold;
  font-size: 150%;
  text-decoration: none;
}

.mtg_deck ul {
  margin-left: 0px;
}

.deckbox_link {
  text-decoration: none;
  margin-left: 10px;
}

.deckbox_title {
  font-weight: bold;
  line-height: 280%;
}

table.mtg_deck {
  width: 510px;
  margin: 10px;
  text-align: left;
}

table.mtg_deck td {
  vertical-align: top;
  padding: 5px 2px;
  vertical-align: top;
}

table.mtg_deck td.card_box {
  width: 223px;
  height: 310px;
}
